/* Root Variables */
:root {
  --color-primary: #4d5ae5;
  --color-accent: #404bbf;
  --color-dark: #2e2f42;
  --color-text: #434455;
  --color-white: #ffffff;
  --color-bg-light: #f4f4fd;
}

/* Reset default margins */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

/* images block elements */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
  color: var(--color-text);
}

/* Container styles */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

/* Header Styles */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  background-color: var(--color-white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-primary);
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 500;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--color-accent);
}

.contacts {
  display: flex;
  gap: 40px;
  align-items: center;
}

.address-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.contact-link {
  text-decoration: none;
  color: var(--color-text);
  font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-accent);
}

/* Fourth Section Styles */
.fourth-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.fourth-title {
  margin-bottom: 72px;
}

.fourth-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.fourth-item {
  width: calc((100% - 48px) / 3);
}

.fourth-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.fourth-item-title {
  margin-bottom: 8px;
  text-align: left;
}

.fourth-item-text {
  text-align: left;
}

/* Footer Styles */
.footer {
  background-color: var(--color-dark);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-primary);
  text-decoration: none;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: var(--color-bg-light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-bg-light);
}

.contacts-block {
  font-style: normal;
}